.subtotal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100px;
    padding:20px;
    background-color: #e0d5d59d;
    border: 1px solid #dddddd;
    margin-left: 1100px;
    border-radius: 10px;
}
.subtotal__gift{
    align-items: center;
}
.subtotal__gift > input {
    margin-right: 5px;
}
.check__button{
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    width:65%;
    height: 25px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;

}